nav{
	float: right;
}
form{
	text-align: center;
}
.logo{
	display: flex;
	position: fixed;
	top: 10%;
	left: 35%;
	justify-content: center;
	align-items: center;
}
.form1 {
	display: flex;
	position: fixed;
	top: 40%;
	left: 30%;
	justify-content: center;
	align-items: center;

}